<template>
    <main class="main">
        <div class="page-container">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-header__title">
                                    Create User
                                </div>
                                <button type="button" class="card-header__add-user-btn btn btn-secondary"
                                        @click="goToUsers">
                                    Back
                                </button>
                            </div>
                            <div class="card-body table-responsive">
                                <user-form ref="userFormComp"/>
                                <b-button variant="success" block @click="onCreateUser">Create User</b-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import UserForm from "../../components/UserForm";

    export default {
        name: "CreateUser",
        components: {
            UserForm
        },
        methods: {
            goToUsers() {
                this.$router.push('/users')
            },
            onCreateUser() {
                this.$refs.userFormComp.onRegister()
            }
        }
    }
</script>

<style scoped>

</style>
