<template>
    <main class="main">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="'true'"></loading>
        <div class="page-container">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-header__title">
                                    Create User
                                </div>
                                <button type="button" class="card-header__add-user-btn btn btn-secondary"
                                        @click="goToUsers">
                                    Back
                                </button>
                            </div>
                            <div class="card-body table-responsive">
                                <user-form ref="userFormComp"/>
                                <b-button variant="success" block @click="onUpdateUser">Update User</b-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import UserForm from "../../components/UserForm";
    import Loading from 'vue-loading-overlay';

    export default {
        name: "EditUser",
        data() {
            return {
                isLoading: true,
            }
        },
        components: {
            UserForm,
            Loading
        },
        methods: {
            goToUsers() {
                this.$router.push('/users')
            },
            onUpdateUser() {
                this.$refs.userFormComp.onRegister()
            }
        },
    }
</script>

<style scoped>

</style>
