<template>
    <main class="main">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="'true'"></loading>
        <div class="page-container">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-header__title">
                                    Users
                                </div>
                                <div class="card-header__add-user-btn">
                                    <button type="button" class="btn btn-success mr-2"
                                            @click="onExportExcel">
                                        Export Excel
                                    </button>
                                    <button type="button" class="btn btn-primary"
                                            @click="goToCreateUser">
                                        Add User
                                    </button>
                                </div>
                            </div>
                            <div class="card-body table-responsive">
                                <table id="user-table" class="table table-striped table-bordered nowrap" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Photo</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>Hobbies</th>
                                        <th>Country</th>
                                        <th>State</th>
                                        <th>Address</th>
                                        <th>Postal Code</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import * as types from '../../store/types'
    import Loading from 'vue-loading-overlay';
    import {customSearchFiledDataTable} from "../../utils/custom-search-field-datatable";
    import {getHostUrl} from "../../utils/host-url";

    export default {
        name: "Users",
        data() {
            return {
                isLoading: true,
                dataTable: null,
            }
        },
        components: {
            Loading
        },
        computed: {
            ...mapGetters({
                users: types.USERS,
                loggedUser: types.LOGGED_USER
            }),
        },
        methods: {
            ...mapActions({
                getUsers: types.GET_USERS,
                deleteUser: types.DELETE_USER,
            }),
            onDeleteUser(user) {
                this.$swal.fire({
                    title: 'Are you sure?',
                    type: 'warning',
                    html: `Are you sure want to delete <b>${user.first_name}</b> user?`,
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.deleteUser(user.id).then(() => {
                            this.drawUserDataTable(this.users);
                            this.$swal.fire(
                                {
                                    title: 'Deleted!',
                                    text: 'User deleted successfully.',
                                    type: 'success',
                                    timer: 1500
                                }
                            )
                        });
                    }
                })
            },
            goToCreateUser() {
                this.$router.push('/users/create')
            },
            goToEditUser(userId) {
                this.$router.push(`/users/${userId}/edit`)
            },
            onGetUsers() {
                this.isLoading = true;
                this.getUsers().then((users) => {
                    this.drawUserDataTable(users);
                    this.isLoading = false;
                })
            },
            drawUserDataTable(users) {
                this.dataTable.clear().draw();
                users.forEach(user => {
                    this.dataTable.row.add([
                        '<img src="' + user.photo_url + '" width="40" height="40" class="border-radius-50">',
                        user.first_name,
                        user.last_name ? user.last_name : '---',
                        user.email,
                        user.gender === 1 ? 'Male' : 'Female',
                        JSON.parse(user.hobbies),
                        user.country,
                        user.state,
                        user.address_line_1,
                        user.postal_code ? user.postal_code : '---',
                        '<span data-id="' + user.id + '" class="action__btn btn btn-ghost-success btn-sm edit-button" ' +
                        'title="Edit">\n' +
                        '<i data-id="' + user.id + '" class="cui-pencil"></i>\n' +
                        '</span>\n' +
                        '<span data-id="' + user.id + '" class="action__btn btn btn-ghost-danger btn-sm delete-btn" ' +
                        'title="Delete">\n' +
                        '<i data-id="' + user.id + '" class="cui-trash"></i>\n' +
                        '</span>',
                    ]).draw(false)
                })
            },
            listenEditButtonClick() {
                $('body').on('click', '#user-table tbody tr .edit-button', (e) => {
                    e.preventDefault();
                    const userId = $(e.target).data('id');
                    const index = this.users.findIndex(r => +r.id === +userId);
                    if (index >= 0) {
                        this.goToEditUser(this.users[index].id, true)
                    }
                })
            },
            listenDeleteButtonClick() {
                $('body').off('click').on('click', '#user-table tbody tr .delete-btn', (e) => {
                    e.preventDefault();
                    const userId = $(e.target).data('id');
                    const user = this.users.filter(u => u.id === userId)[0];
                    this.onDeleteUser(user)
                })
            },
            onExportExcel() {
                const host = getHostUrl();
                window.open(`${host}/api/users-export`);
            }
        },
        created() {
            this.onGetUsers();
            this.listenDeleteButtonClick();
            this.listenEditButtonClick();
        },
        mounted() {
            this.dataTable = $('#user-table').DataTable({
                'columnDefs': [
                    {'orderable': false, 'targets': [0, 10]},
                ],
                'language': {
                    'search': '',
                    'sSearch': '',
                },
                'preDrawCallback': () => {
                    customSearchFiledDataTable()
                },
            })
        },
    }
</script>

<style scoped lang="scss">

</style>
