.page-container {
    padding: 30px;

    @media (max-width: 576px) {
        padding: 15px;
    }
}

.sidebar {
    .fa {
        opacity: .5;
    }

    .nav-link.active {
        .fa, i {
            opacity: 1;
            color: #20a8d8;
        }

        &:hover {
            .fa, i {
                opacity: 1;
                color: #ffffff;
            }
        }
    }
}

.action {
    &__btn {
        padding: 3px 7px;
        font-size: 16px;

        &:hover {
            color: white;
        }
    }
}

.card-header {
    display: flex;

    &__title {
        font-size: 22px;
    }

    &__add-user-btn {
        margin-left: auto
    }
}


.vld-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    align-items: center;
    display: none;
    justify-content: center;
    overflow: hidden;
    z-index: 1
}

.vld-overlay.is-active {
    display: flex
}

.vld-overlay.is-full-page {
    z-index: 999;
    position: fixed
}

.vld-overlay .vld-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    opacity: 0.5
}

.vld-overlay .vld-icon, .vld-parent {
    position: relative
}
