.error-msg {
    padding-top: 0;
    margin-top: -15px;
    margin-bottom: 15px;
    color: red;
}

input {

    &.br-danger {
        border: 1px solid #f86c6b;
        border-radius: 4px;

        &:focus {
            border-color: transparent;
            box-shadow: 0 0 4px 1px #f86c6b;
        }
    }
}
