// globally override for bootstrap style

// core ui footer fixes at bottom
.app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

// core ui profile dropdown
.app-header .navbar-nav .dropdown-menu-right {
    right: 34px;
}

.nav-link {
    display: flex !important;
    align-items: center !important;
}

.sidebar-minimized {
    @media (min-width: 992px) {
        .nav .nav-link {
            padding: 0.75rem 1rem;
        }
    }

    .nav-link i {
        font-size: 18px;
    }
}

.app-header .navbar-brand {
    height: 40px;
}
