<template>
    <footer class="app-footer">
        <div>
            <a href="/" target="_blank">Practical Work</a>
            <span>© 2019</span>
        </div>
        <div class="ml-auto">
            <span>Powered by</span>
            <a href="https://coreui.io">CoreUI</a>
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'AppFooter',
    }
</script>

<style scoped>

</style>
