<template>
    <Header fixed>
        <SidebarToggler class="d-lg-none" display="md" mobile/>
        <b-link class="navbar-brand" :to="'/'">
            <img class="navbar-brand-full" src="/assets/images/easternts_logo.gif" width="100" alt="Logo">
        </b-link>
        <SidebarToggler class="d-md-down-none" display="lg"/>

        <b-navbar-nav class="ml-auto">
            <AppHeaderDropdown right no-caret>
                <template slot="header">
                    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span v-if="loggedUser">{{loggedUser.first_name}}</span>
                        <img v-if="loggedUser" class="img-avatar" src="/assets/images/avatar.png"
                             :alt="loggedUser.first_name">
                    </a>
                </template>
                <template slot="dropdown">
                    <b-dropdown-item @click="onLogout"><i class="icon-lock"/>Logout</b-dropdown-item>
                </template>
            </AppHeaderDropdown>
        </b-navbar-nav>
    </Header>
</template>

<script>
    import {Header, HeaderDropdown as AppHeaderDropdown, SidebarToggler} from '@coreui/vue'
    import {mapActions, mapGetters} from "vuex";
    import * as types from '../store/types'

    export default {
        name: "AppHeader",
        components: {
            SidebarToggler,
            Header,
            AppHeaderDropdown,
        },
        computed: {
            ...mapGetters({
                loggedUser: types.LOGGED_USER
            })
        },
        methods: {
            ...mapActions({
                logout: types.APP_LOGOUT,
                getLoggedUser: types.GET_LOGGED_USER
            }),
            onLogout() {
                this.logout().then(() => {
                    this.$router.go('/login')
                })
            },
        },
        created() {
            this.getLoggedUser()
        }
    }
</script>

<style scoped>

</style>
