<template>
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <b-link class="nav-link" to="/users">
                        <i class="icon-people mr-3 align-middle"></i>Users
                    </b-link>
                </li>
            </ul>
        </nav>
        <SidebarMinimizer/>
    </div>
</template>

<script>
    import {SidebarMinimizer} from '@coreui/vue'
    import * as types from '../store/types'
    import {mapGetters} from 'vuex'

    export default {
        name: 'AppSidebar',
        computed: {
            ...mapGetters({
                loggedUser: types.LOGGED_USER,
            }),
        },
        components: {
            SidebarMinimizer,
        },
    }
</script>

<style scoped>

</style>
