<template>
    <b-form enctype="multipart/form-data">
        <div>
            <b-input-group class="mb-3">
                <b-input-group-prepend>
                    <b-input-group-text><i class="icon-user"></i></b-input-group-text>
                </b-input-group-prepend>
                <b-form-input type="text" class="form-control" placeholder="Firstname*"
                              autocomplete="firstname" v-model="registerForm.first_name"
                              :class="errors.has('first_name')?'br-danger':''"
                              name="first_name" v-validate="{ required: true, min: 3 }"/>
            </b-input-group>
            <div class="error-msg" v-if="errors.has('first_name')">
                {{ errors.first('first_name') }}
            </div>
        </div>

        <div>
            <b-input-group class="mb-3">
                <b-input-group-prepend>
                    <b-input-group-text><i class="icon-user"></i></b-input-group-text>
                </b-input-group-prepend>
                <b-form-input type="text" class="form-control" placeholder="Lastname"
                              autocomplete="lastname" v-model="registerForm.last_name"/>
            </b-input-group>
        </div>

        <div>
            <b-input-group class="mb-3">
                <b-input-group-prepend>
                    <b-input-group-text>@</b-input-group-text>
                </b-input-group-prepend>
                <b-form-input type="text" class="form-control" placeholder="Email*"
                              autocomplete="email" v-model="registerForm.email"
                              name="email" v-validate="'required|email'"
                              :class="errors.has('email')?'br-danger':''"
                              :disabled="isEditMode"/>
            </b-input-group>
            <div class="error-msg" v-if="errors.has('email')">
                {{ errors.first('email') }}
            </div>
        </div>

        <div>
            <b-input-group class="mb-3">
                <b-input-group-prepend>
                    <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                </b-input-group-prepend>
                <b-form-input type="password" class="form-control" placeholder="Password*"
                              autocomplete="new-password" v-model="registerForm.password"
                              name="password" v-validate="{ required: true, min: 6 }"
                              :class="errors.has('password')?'br-danger':''"
                              ref="password"/>
            </b-input-group>
            <div class="error-msg" v-if="errors.has('password')">
                {{ errors.first('password') }}
            </div>
        </div>

        <div>
            <b-input-group class="mb-4">
                <b-input-group-prepend>
                    <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                </b-input-group-prepend>
                <b-form-input type="password" class="form-control" placeholder="Confirm password*"
                              autocomplete="confirm-password"
                              name="confirm_password"
                              v-model="registerForm.confirm_password"
                              v-validate="'required|confirmed:password'"
                              :class="errors.has('confirm_password')?'br-danger':''"/>
            </b-input-group>
            <div class="error-msg" v-if="errors.has('confirm_password')">
                {{ errors.first('confirm_password') }}
            </div>
        </div>

        <div>
            <b-input-group class="mb-3">
                <b-input-group-prepend>
                    <b-input-group-text><i class="icon-calendar"></i></b-input-group-text>
                </b-input-group-prepend>
                <b-form-input type="date" class="form-control" placeholder="Birthdate"
                              autocomplete="birthdate" v-model="registerForm.dob"
                              :class="errors.has('dob')?'br-danger':''"
                              name="dob" v-validate="{ required: true }"/>
            </b-input-group>
            <div class="error-msg" v-if="errors.has('dob')">
                {{ errors.first('dob') }}
            </div>
        </div>


        <b-form-group
            label="Gender"
            label-for="basicCustomRadios1"
            :label-cols="3"
        >
            <b-form-radio-group
                id="basicCustomRadios1"
                name="customRadioInline1">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1"
                           class="custom-control-input" value="1"
                           v-model="registerForm.gender">
                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1"
                           class="custom-control-input" value="0"
                           v-model="registerForm.gender">
                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                </div>
            </b-form-radio-group>
        </b-form-group>

        <b-form-group
            label="Hobbies"
            label-for="basicInlineCustomCheckboxes"
            :label-cols="3"
        >
            <b-form-checkbox-group id="basicInlineCustomCheckboxes">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="customInChk1"
                           v-model="registerForm.hobbies" value="Playing">
                    <label class="custom-control-label" for="customInChk1">Playing</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="customInChk2"
                           v-model="registerForm.hobbies" value="Singing">
                    <label class="custom-control-label" for="customInChk2">Singing</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="customInChk3"
                           v-model="registerForm.hobbies" value="Travelling">
                    <label class="custom-control-label" for="customInChk3">Travelling</label>
                </div>
            </b-form-checkbox-group>
        </b-form-group>

        <b-form-group
            label="Country"
            label-for="basicSelect"
            :label-cols="3"
        >
            <b-form-select id="basicSelect"
                           :plain="true"
                           :options="['Please select', ...countries]"
                           value="Please select"
                           v-model="registerForm.country"
                           @change="onChangeCountry">
            </b-form-select>
        </b-form-group>

        <b-form-group
            label="State"
            label-for="basicSelect"
            :label-cols="3"
        >
            <b-form-select id="basicSelect"
                           :plain="true"
                           :options="['Please select', ...statesByCountry]"
                           value="Please select"
                           v-model="registerForm.state">
            </b-form-select>
        </b-form-group>

        <div>
            <b-input-group class="mb-3">
                <b-input-group-prepend>
                    <b-input-group-text><i class="icon-location-pin"></i></b-input-group-text>
                </b-input-group-prepend>
                <b-form-input type="text" class="form-control" placeholder="City*"
                              autocomplete="city" v-model="registerForm.city"
                              :class="errors.has('city')?'br-danger':''"
                              name="city" v-validate="{ required: true }"/>
            </b-input-group>
            <div class="error-msg" v-if="errors.has('city')">
                {{ errors.first('city') }}
            </div>
        </div>

        <div>
            <b-input-group class="mb-3">
                <b-input-group-prepend>
                    <b-input-group-text><i class="icon-location-pin"></i></b-input-group-text>
                </b-input-group-prepend>
                <b-form-input type="text" class="form-control" placeholder="Address1*"
                              autocomplete="address1" v-model="registerForm.address_line_1"
                              :class="errors.has('address_line_1')?'br-danger':''"
                              name="address_line_1" v-validate="{ required: true }"/>
            </b-input-group>
            <div class="error-msg" v-if="errors.has('address_line_1')">
                {{ errors.first('address_line_1') }}
            </div>
        </div>


        <b-input-group class="mb-3">
            <b-input-group-prepend>
                <b-input-group-text><i class="icon-location-pin"></i></b-input-group-text>
            </b-input-group-prepend>
            <b-form-input type="text" class="form-control" placeholder="Address2"
                          autocomplete="address2" v-model="registerForm.address_line_2"/>
        </b-input-group>

        <div>
            <b-input-group class="mb-3">
                <b-input-group-prepend>
                    <b-input-group-text><i class="icon-location-pin"></i></b-input-group-text>
                </b-input-group-prepend>
                <b-form-input type="text" class="form-control" placeholder="Postal Code"
                              autocomplete="postal_code" v-model="registerForm.postal_code"
                              name="postal_code" v-validate="'integer'"
                              :class="errors.has('postal_code')?'br-danger':''"/>
            </b-input-group>
            <div class="error-msg" v-if="errors.has('postal_code')">
                {{ errors.first('postal_code') }}
            </div>
        </div>

        <div>
            <b-form-group
                label="Profile Photo"
                label-for="fileInput"
                :label-cols="2"
            >
                <b-form-file id="fileInput" :plain="true" @change="uploadImage($event)"></b-form-file>

            </b-form-group>
        </div>


    </b-form>
</template>

<script>
    import * as types from '../store/types'
    import {mapActions, mapGetters} from "vuex";
    import {successMsgToast} from "../utils/toasts";
    import Loading from 'vue-loading-overlay';

    const registerForm = {
        first_name: '',
        last_name: '',
        email: '',
        password: '',
        confirm_password: '',
        dob: '',
        gender: 1,
        hobbies: ['Playing'],
        country: 'Please select',
        state: 'Please select',
        city: '',
        address_line_1: '',
        address_line_2: '',
        postal_code: '',
    };
    export default {
        name: "UserForm",
        data: () => {
            return {
                registerForm: Object.assign({}, registerForm),
                isEditMode: false,
                file: null,
            }
        },
        components: {
            Loading
        },
        computed: {
            ...mapGetters({
                countries: types.COUNTRIES,
                statesByCountry: types.STATES_BY_COUNTRY,
            }),
        },
        methods: {
            ...mapActions({
                register: types.APP_REGISTER,
                getCountries: types.GET_COUNTRIES,
                getStatesByCountry: types.GET_STATES_BY_COUNTRY,
                getUserById: types.GET_USER_BY_ID,
                updateUser: types.UPDATE_USER

            }),
            onRegister() {
                this.$validator.validateAll();
                this.$validator.validate().then(valid => {
                    if (valid) {
                        let registerFormData = new FormData();
                        registerFormData.append('first_name', this.registerForm.first_name);
                        registerFormData.append('last_name', this.registerForm.last_name);
                        registerFormData.append('email', this.registerForm.email);
                        if (this.registerForm.password) {
                            registerFormData.append('password', this.registerForm.password);
                        }
                        registerFormData.append('dob', this.registerForm.dob);
                        registerFormData.append('gender', this.registerForm.gender);
                        registerFormData.append('hobbies', JSON.stringify(this.registerForm.hobbies));
                        registerFormData.append('country', this.registerForm.country);
                        registerFormData.append('state', this.registerForm.state);
                        registerFormData.append('city', this.registerForm.city);
                        registerFormData.append('address_line_1', this.registerForm.address_line_1);
                        registerFormData.append('address_line_2', this.registerForm.address_line_2);
                        registerFormData.append('postal_code', this.registerForm.postal_code);
                        if (this.file) {
                            registerFormData.append('photo', this.file)
                        }

                        if (!this.isEditMode) {
                            this.register(registerFormData).then(() => {
                                successMsgToast('User created successfully.');
                                this.$router.push('/login')
                            })
                        } else {
                            registerFormData.append('id', this.registerForm.id);
                            this.updateUser(registerFormData).then(() => {
                                successMsgToast('User updated successfully.');
                                this.$router.push('/users')
                            })
                        }
                    }
                });
            },
            onChangeCountry(countryName) {
                this.onGetStatesByCountry(countryName)
            },
            onGetStatesByCountry(countryName) {
                this.getStatesByCountry(countryName)
            },
            uploadImage(fileInput) {
                this.file = fileInput.target.files[0];
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.registerForm.photo_url = e.target.result
                };
                reader.readAsDataURL(fileInput.target.files[0])
            },
        },
        created() {
            this.getCountries();
            if (this.$route.params.id) {
                this.isEditMode = true;
                this.getUserById(this.$route.params.id).then((user) => {
                    if (this.$parent.isLoading) {
                        this.$parent.isLoading = false
                    }
                    user.hobbies = JSON.parse(user.hobbies);
                    this.registerForm = Object.assign(this.registerForm, user);
                    this.registerForm.password = '';
                    if (this.registerForm.dob) {
                        const date = new Date(this.registerForm.dob); // Or your date here
                        this.registerForm.dob = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
                    }
                    this.onGetStatesByCountry(this.registerForm.country);
                })
            }
        }
    }
</script>

<style scoped>

</style>
