<template>
    <div class="app flex-row align-items-center">
        <div class="container">
            <b-row class="justify-content-center">
                <b-col md="8">
                    <b-card-group>
                        <b-card no-body class="p-4">
                            <b-card-body>
                                <b-form>
                                    <h1>Login</h1>
                                    <p class="text-muted">Sign In to your account</p>
                                    <diV>
                                        <b-input-group class="mb-3">
                                            <b-input-group-prepend>
                                                <b-input-group-text><i class="icon-user"></i></b-input-group-text>
                                            </b-input-group-prepend>
                                            <b-form-input type="text" class="form-control" placeholder="Username"
                                                          autocomplete="username email" v-model="loginForm.email"
                                                          name="email" v-validate="'required|email'"
                                                          :class="errors.has('email')?'br-danger':''"/>
                                        </b-input-group>
                                        <div class="error-msg" v-if="errors.has('email')">
                                            {{ errors.first('email') }}
                                        </div>
                                    </diV>
                                    <div>
                                        <b-input-group class="mb-4">
                                            <b-input-group-prepend>
                                                <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                                            </b-input-group-prepend>
                                            <b-form-input type="password" class="form-control" placeholder="Password"
                                                          autocomplete="current-password" v-model="loginForm.password"
                                                          name="password" v-validate="{ required: true, min: 6 }"
                                                          :class="errors.has('password')?'br-danger':''"/>
                                        </b-input-group>
                                        <div class="error-msg" v-if="errors.has('password')">
                                            {{ errors.first('password') }}
                                        </div>
                                    </div>
                                    <b-row>
                                        <b-col cols="6">
                                            <b-button variant="primary" class="px-4" @click.stop="onLogin">
                                                Login
                                            </b-button>
                                        </b-col>
                                    </b-row>
                                </b-form>
                            </b-card-body>
                        </b-card>
                        <b-card no-body class="text-white bg-primary py-5 d-md-down-none" style="width:44%">
                            <b-card-body class="text-center">
                                <div>
                                    <h2>Sign up</h2>
                                    <p>Register now, it will take a minute</p>
                                    <b-button variant="primary" class="active mt-3" @click="goToRegister">
                                        Register Now!
                                    </b-button>
                                </div>
                            </b-card-body>
                        </b-card>
                    </b-card-group>
                </b-col>
            </b-row>
        </div>
    </div>
</template>

<script>
    import {mapActions} from "vuex";
    import * as types from './../../store/types'

    const loginForm = {
        email: '',
        password: '',
    };
    export default {
        name: "Login",
        data: () => {
            return {
                loginForm: Object.assign({}, loginForm),
            }
        },
        methods: {
            ...mapActions({
                login: types.APP_LOGIN,
            }),
            onLogin() {
                this.$validator.validateAll();
                this.$validator.validate().then(valid => {
                    if (valid) {
                        this.login(this.loginForm).then(() => {
                            this.$router.push('/users')
                        })
                    }
                });
            },
            goToRegister() {
                this.$router.push('/register')
            },
        },
    }
</script>

<style scoped>
</style>
