<template>
    <div class="app flex-row align-items-center">
        <div class="container">
            <b-row class="justify-content-center">
                <b-col md="10" sm="12">
                    <b-card no-body class="mx-4">
                        <b-card-body class="p-4">
                            <h1>Register</h1>
                            <p class="text-muted">Create your account</p>
                            <user-form ref="userFormComp"/>
                            <b-button variant="success" block @click="onRegister">Create Account</b-button>
                        </b-card-body>
                        <b-card-footer class="p-4">
                            <b-row>
                                <b-col cols="12">
                                    <span>I have already a membership</span>
                                    <router-link :to="'/login'">Login</router-link>
                                </b-col>
                            </b-row>
                        </b-card-footer>
                    </b-card>
                </b-col>
            </b-row>
        </div>
    </div>
</template>
<script>
    import UserForm from "../../components/UserForm";

    export default {
        name: "Register",
        components: {
            UserForm
        },
        methods: {
            onRegister() {
                this.$refs.userFormComp.onRegister()
            }
        }
    }
</script>

<style scoped>

</style>
