<template>
    <div>
        <app-header/>
        <div class="app-body">
            <app-sidebar/>
            <router-view></router-view>
        </div>
        <app-footer/>
    </div>
</template>

<script>
    import AppHeader from '../components/AppHeader'
    import AppSidebar from '../components/AppSidebar'
    import AppFooter from '../components/AppFooter'

    export default {
        name: 'DefaultLayout',
        components: {
            AppHeader,
            AppSidebar,
            AppFooter
        }
    }
</script>

<style scoped>

</style>
